/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#root {
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.navbar-container {
  background: transparent;
}

.navbar {
  width: 1000px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.wider-navbar {
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  align-items: center;
}

.wider-navbar .logo {
  padding-left: 14px;
}

.wider-navbar .navbar-right {
  padding-right: 14px;
}

.navbar-left, .navbar-right {
  display: flex;
  align-items: center;
  height: 60px;
}

.navbar-left {
  justify-content: flex-start;
}

.navbar-right {
  justify-content: center;
}

.logo a {
  text-decoration: none;
}

.logo:hover {
  opacity: 0.8;
}

.logo h1 {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.session-buttons button {
  width: 80px;
  height: 40px;
  margin: 10px 0 10px 5px;
  border-radius: 0.5em;
  font-size: 14px;
}

.session-buttons button:first-of-type {
  background-color: hsla(0,0%,6%,.1);
  color: white;
  padding: 5px;
}

.session-buttons button {
  background-color: inherit;
  color: white;
  padding: 5px;
  transition: background-color 0.25s, color 0.25s;
}

.session-buttons button:hover {
  background-color: white;
  color: #1673e6;
}

.header-name {
  display: flex;
  align-items: center;
  color: white;
}

.user-buttons {
  display: flex;
  align-items: center;
}

.categories {
  display: flex;
  margin-left: 5px;
  list-style: none;
  align-items: center;
  box-sizing: border-box;
  justify-content: flex-start;
}

.sell-link {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 0 13px;
  height: 60px;
  line-height: 61px;
}

.categories > li {
  color: white;
  font-size: 14px;
}

.categories > li:hover {
  color: #1673e6;
  border-bottom: 1px solid lightgray;
  background-color: white;
}

.sports-dropdown-container, .music-dropdown-container {
  padding: 0 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  position: relative;
}

.categories-list  {
  background-color: white;
  z-index: 100;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 0 0 4px 4px;
}

.categories-list a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  line-height: 40px;
  display: inline-block;
  vertical-align: middle;
}

.categories-list li {
  border-radius: 3px;
  width: 100%;
  text-align: center;
  font-size: 15px;
}

.event-info-container {
  color: white;
  margin-left: 10px;
}

.event-info-container h3 {
  font-weight: 600px;
  font-size: 16px;
}

.event-info-container h5 {
  font-size: 13px;
  color: hsla(0,0%,100%,.7);
  transition: 0.25s;
}

.event-info-container:hover {
  cursor: pointer;
}

.event-info-container:hover h5 {
  color: white;
}

.user-dropdown {
  position: relative;
  color: white;
  z-index: 1;
  transition: all .25s ease-in-out;
  transition-timing-function: linear;
}

.closed {
  opacity: 0;
  top: -350px;
}

.user-dropdown:hover {
  background-color: white;
  color: #1673e6;
  box-shadow: 0 2px 2px rgba(0,0,0,.15);
}

.user-dropdown a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  width: 100%;
}

.user-name {
  color: inherit;
  width: 151px;
  height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-links, .categories-list {
  width: 151px;
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 2px 2px rgba(0,0,0,.15);
  transition: opacity 0.25s ease-in-out;
  transition-timing-function: ease-in-out;
}

.categories-list {
  border: 1px solid #e5e5e5;
}

.user-links > li {
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  transition: 0.25s;
  display: flex;
  align-items: center;
  padding: 10px;
}

.dropdown-icons {
  margin-left: 25px;
}

.user-links > li span {
  line-height: 40px;
  font-size: 15px;
  display: inline-block;
  margin-left: 10px;
}

.user-links > li:hover, .categories-list > li:hover {
  background-color: #1673e6;
  color: white;
  cursor: pointer;
}

.main-content-container {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: -1;
}

.main-content-splash {
  background-image: linear-gradient(135deg,#1673e6 50%,#01a1e7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 200px;
  padding-top: 60px;
  position: relative;
}

.main-content-splash-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 260px;
  width: 100%;
  background-image: url('https://chairnerd.global.ssl.fastly.net/images/waves/wave_4.png');
  background-position: bottom;
  background-repeat: no-repeat;
  opacity: 0.1;
  flex: 1 1 1200px;
  justify-content: space-between;
  background-size: cover; 
}

.main-page-splash-image {
  height: 375px;
}

.upwards-shade {
  background-image: linear-gradient(180deg,rgba(18,28,38,0) 0,#121c26);
  height: 100%;
  width: 100%;
  display: none;
}

.left-shade {
  flex: 0 2 200px;
  background-image: linear-gradient(270deg,rgba(18,28,38,0) 0,#121c26);
  display: none;
}

.right-shade {
  flex: 0 2 200px;
  background-image: linear-gradient(90deg,rgba(18,28,38,0) 0,#121c26);
  display: none;
}

.main-clear-space {
  flex: 1 0 1000px;
  background-color: transparent;
}

.block-shade {
  flex: 1 6 40px;
  background-color: #121c26;
  display: none;
}

header.main-page {
  justify-content: center;
  box-sizing: border-box;
  height: 375px;
}

header.main-page .main-content-splash-info {
  text-align: center;
  color: #ecf3f7;
  font-weight: 800;
  justify-content: center;
  height: 60px;
  padding-bottom: 10px;
}

.main-content-splash-name {
  font-size: 40px;
  color: white;
  font-weight: 700;
  line-height: 41px;
  width: 970px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
}

.main-content-track-button {
  font-size: 30px;
  margin-left: 20px;
}

.main-content-track-button:hover {
  cursor: pointer;
}

.main-content-track-button i {
  transition: all 0.25s ease-in-out;
  transition-timing-function: linear;
}

.main-content-route-info {
  color: rgba(255,255,255,0.7);
  width: 970px;
  margin-bottom: 10px;
}

.main-content-route-info a {
  text-decoration: none;
  color: inherit;
  transition: 0.25s;
}

.main-content-route-info a:hover {
  color: white;
}

.main-content-splash-info {
  height: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main-content-content {
  margin: 0 auto;
  width: 970px;
}

.active-tab {
  border-bottom: 2px solid #191919;
  color: black;
}

.search-form-navbar {
  width: 300px;
  background-color: inherit;
  border-radius: 6px;
  padding: 2px 5px;
  margin-left: 10px;
  background-color: hsla(0,0%,6%,.1);
  display: flex;
  align-items: center;
  transition: all 0.25s;
  transition-timing-function: linear;
}

.search-form-navbar i {
  color: #fff;
  margin-left: 5px;
  transition: 0.25s;
}

.search-form-navbar:hover i {
  color: #2873e7;
}

.search-form-navbar:hover {
  background-color: white;
}

.search-form-navbar input {
  display: block;
  background-color: transparent;
  font-family: inherit;
  transition-timing-function: ease;
  transition: .25s ease;
  outline: none;
}

.search-form-navbar input::placeholder {
  color: #fff;
  transition: .25s ease;
}

.search-form-navbar:hover input::placeholder {
  color: gray;
}

.search-form-navbar input:focus::placeholder {
  color: gray;
}

.search-form-navbar:focus-within {
  background-color: white;
}

.search-form-navbar:focus-within i {
  color: #2873e7;
}

.search-form-navbar input[type="text"] {
  line-height: 17px;
  font-size: 14px;
  padding: 10px;
  color: #333;
  text-overflow: ellipsis;
  overflow: hidden;
  border: none;
  width: 300px;
  border-radius: 5px;
  box-sizing: border-box;
  /* background-color: transparent; */
}

.show-page-track-button {
  color: white;
  font-size: 25px;
}