/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 #root {
  font-family: "Montserrat", sans-serif;
}

.app-header {
  background: linear-gradient(135deg,#1673e6 50%,#01a1e7);
  height: 315px;
}

.navbar-container {
  background: #1673e6;
}

.navbar {
  width: 968px;
  header: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-categories-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.logo a {
  text-decoration: none;
}

.logo:hover {
  opacity: 0.8;
}

.logo h1 {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.session-buttons button {
  width: 80px;
  height: 40px;
  margin: 10px 0 10px 12px;
  border-radius: 0.5em;
}

.session-buttons button:first-of-type {
  background-color: hsla(0,0%,6%,.1);
  color: white;
  padding: 5px;
}

.session-buttons button {
  background-color: inherit;
  color: white;
  padding: 5px;
  transition: background-color 0.25s, color 0.25s;
}

.session-buttons button:hover {
  background-color: white;
  color: #1673e6;
}

.header-name {
  display: flex;
  align-items: center;
  color: white;
}

.user-buttons {
  display: flex;
  align-items: center;
}

.categories {
  display: flex;
  margin-left: 20px;
  list-style: none;
  align-items: center;
}

.categories > li {
  padding: 20.5px 13px;
  color: white;
  font-size: 16px;
}

.categories > li:hover {
  background-color: white;
  color: black;
}

.event-info-container {
  color: white;
  margin-left: 10px;
}

.event-info-container h3 {
  font-weight: bold;
  font-size: 16px;
}

.event-info-container h5 {
  font-size: 14px;
  color: hsla(0,0%,100%,.7);
  transition: 0.25s;
}

.event-info-container:hover {
  cursor: pointer;
}

.event-info-container:hover h5 {
  color: white;
}

.user-dropdown {
  position: relative;
  color: white;
  z-index: 1;
}

.user-dropdown:hover {
  background-color: white;
  color: #1673e6;
  transition: background-color .25s ease-in-out;
}

.user-dropdown a {
  text-decoration: none;
  color: inherit;
}

.user-name {
  color: inherit;
  width: 151px;
  height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-links {
  width: 151px;
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.25s;
  transition-timing-function: ease-in-out;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 2px 2px rgba(0,0,0,.15);
}

.user-links > li {
  width: 100%;
  height: 40px;
  text-align: center;
  box-sizing: border-box;
  transition: 0.25s;
}

.user-links > li > span {
  line-height: 40px;
  display: inline-block;
  vertical-align: middle;
}

.user-links > li:hover {
  background-color: #1673e6;
  color: white;
  cursor: pointer;
}

.main-content-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}
