// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.events-list a {
  display: block;
  text-decoration: none;
  color: black;
}

.events-list a:hover h1 {
  color: #2873e7;
}

.events-list {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  overflow-y: hidden;
  box-sizing: border-box;
  width: 980px;
  padding: 10px;
}

.event-card {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  width: 230px;
  height: 212px;
}

.event-card-info h1 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.25rem;
  transition: 0.25s;
  margin-top: 0.75rem;
}

.event-card-info h3 {
  color: #6A6A6A;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: 0.1875rem;
}

.event-card-artwork {
  height: 10rem;
  border: 1px solid #6A6A6A;
  border-radius: 0.375rem;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.event-card-price {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0.625rem;
  font-size: 0.875rem;
  font-weight: 500;
  background: rgba(0,0,0,0.6);
  color: white;
  border-radius: 0.25rem;
  padding: 2px 5px;
}

.event-tickets-header, .ticket-view-header {
  height: 60px;
  display: flex;
  align-items: center;
}

.event-tickets-header h4, .ticket-view-container h4 {
  font-weight: bold;
  font-size: 1.0625em;
}

.event-tickets-container, .ticket-view-container {
  padding: 0 20px;
  width: 430px;
  height: 100vh;
}

.event-tickets-container {
  height: 779px;
  overflow-y: auto;
}

.ticket-listing-container {
  box-sizing: border-box;
  height: 77px;
  border-bottom: 1px solid lightgray;
  align-items: center;
  padding: 18px 0;
  display: flex;
  justify-content: center;
}

.ticket-listing-container:hover {
  background-color: #c9e5ff;
  cursor: pointer;
}

.ticket-listing {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticket-info {
  font-weight: 500;
}

.checkout-link {
  height: inherit;
  display: flex;
  align-items: center;
}

.checkout-link a {
  text-decoration: none;
  background-color: #1673E6;
  padding: 0.70rem;
  margin-left: 1.25rem;
  color: white;
  border-radius: 3px;
  line-height: 1.375em;
  border-radius: 0.625rem;
  font-weight: bold;
  display: block;
  width: 65px;
  text-align: center;
}

.checkout-link a:hover {
  filter: brightness(90%);
}

.per-each {
  color: #c9e5ff;
}

.ticket-view-container {
  display: flex;
  flex-direction: column;
}

.ticket-view-header {
  height: 60px;
}

.ticket-view-header:hover {
  color: #1673E6;
  cursor: pointer;
}

.ticket-seat-info {
  border-top: 1px solid #EFEFEF;
  border-bottom: 1px solid #EFEFEF;
  box-sizing: border-box;
  height: 80px;
  display: flex;
  align-items: center;
}

.ticket-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EFEFEF;
  padding: 1.375rem 0;
}

.ticket-price-info {
  font-size: 1.625rem;
  color: #49af07;
}

.ticket-price-per-each {
  font-size: 0.9375rem;
}

.bigger-checkout-link a {
  text-decoration: none;
  background-color: #1673E6;
  padding: 0.80rem 1.25rem;
  margin-left: 1.25rem;
  color: white;
  border-radius: 3px;
  line-height: 1.375em;
  border-radius: 0.625rem;
  font-weight: bold;
}
