// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.events-index-container {
  width: 100%;
}

.event-tickets-wrapper {
  width: 100%;
}

.navbar-compensator {
  height: 60px;
  background-color: #1673e6;
}

.events-list a:hover, .performers-list a:hover, .venues-list a:hover {
  cursor: inherit;
}

.item-card:hover h1 {
  color: #2873e7;
}

.item-card:hover {
  cursor: pointer;
}

.list-title {
  font-size: 1.25em;
  font-weight: 600;
  padding: 20px 0 10px 0;
  margin-top: 0.8em;
  line-height: 1.4em;
  letter-spacing: 0.0176em;
}

.item-card:hover .item-card-artwork {
  box-shadow: 0 0.1875rem 0.5rem 0 rgba(0,0,0,0.3);
}

.events-list-wrapper, .venues-list-wrapper, .performers-list-wrapper {
  position: relative;
}

.horizontal-list-wrapper {
  overflow: hidden;
}

.events-list, .venues-list, .performers-list {
  display: flex;
  box-sizing: border-box;
  width: 980px;
  padding: 15px 10px;
  transition: transform 0.2s ease-out;
}

.events-list-navigator-right, .venues-list-navigator-right, .performers-list-navigator-right {
  right: 0;
}

.item-card {
  margin-right: 10px;
  width: 230px;
  height: 212px;
}

.item-card-info h1 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.25rem;
  transition: 0.25s;
  margin-top: 0.75rem;
}

.item-card-info h3 {
  color: #6A6A6A;
  font-size: 13px;
  line-height: 1.25rem;
  margin-top: 0.1875rem;
}

.item-card-artwork {
  width: 230px;
  height: 10rem;
  height: 160px;
  border-radius: 0.375rem;
  position: relative;
}

.loading-gif {
  background-image: image_url("loading-gif.gif");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

.item-card-artwork img {
  height: 160px;
  width: 230px;
  object-fit: cover;
  transition: opacity 0.5s linear;
}

.image-hidden {
  opacity: 0;
}

.image-shown {
  opacity: 1;
}

.trackButton {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  text-shadow: 2px 2px 3px black;
}

.trackButton i {
  transition: all 0.25s ease-in-out;
  transition-timing-function: linear;
}

.tracked {
  color: red;
}

.item-card-price {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0.625rem;
  font-size: 0.875rem;
  font-weight: 500;
  background: rgba(0,0,0,0.6);
  color: white;
  border-radius: 0.25rem;
  padding: 2px 5px;
}

.event-tickets-header, .ticket-view-header {
  height: 60px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid lightgray;
}

.event-tickets-header h4, .ticket-view-container h4 {
  font-weight: bold;
  font-size: 1.0625em;
  margin-left: 20px;
}

.event-tickets-container, .ticket-view-container {
  // padding: 0 20px;
  width: 430px;
  height: calc(100vh - 60px);
  background-color: white;
  z-index: 1;
  position: relative;
}

.event-tickets-container {
  box-shadow: 2px 0 10px rgba(0,0,0,.1), 1px 0 0 rgba(0,0,0,.05);
}

.tickets-list {
  height: calc(100% - 60px);
  overflow-y: auto;
  // transform: translateZ(0);
}

.ticket-listing-container {
  box-sizing: border-box;
  height: 77px;
  border-bottom: 1px solid lightgray;
  align-items: center;
  padding: 18px 0;
  display: flex;
  justify-content: center;
}

.ticket-listing-container:hover {
  // border-radius: 0.75rem;
  background-color: #ecf3fd;
  box-shadow: 0 8px 16px 0 rgba(15,15,15,0.12);
  cursor: pointer;
}

.ticket-listing {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticket-info {
  font-weight: 600;
  font-size: 14px;
}

.checkout-link {
  height: inherit;
  display: flex;
  align-items: center;
}

.checkout-link a {
  text-decoration: none;
  background-color: #1673E6;
  font-size: 14px;
  padding: 0.70rem;
  margin-left: 1.25rem;
  color: white;
  border-radius: 3px;
  line-height: 1.375em;
  border-radius: 0.625rem;
  font-weight: bold;
  display: block;
  width: 65px;
  text-align: center;
}

.checkout-link a:hover {
  filter: brightness(90%);
}

.per-each {
  color: #c9e5ff;
}

.ticket-view-container {
  display: flex;
  flex-direction: column;
}

.ticket-view-header {
  height: 60px;
}

.ticket-view-header:hover {
  color: #1673E6;
  cursor: pointer;
}

.ticket-seat-info {
  border-top: 1px solid #EFEFEF;
  border-bottom: 1px solid #EFEFEF;
  box-sizing: border-box;
  height: 80px;
  display: flex;
  align-items: center;
}

.ticket-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EFEFEF;
  padding: 1.375rem 20px;
}

.ticket-price-info {
  font-size: 1.625rem;
  color: #49af07;
}

.ticket-price-per-each {
  font-size: 0.9375rem;
}

.bigger-checkout-link a {
  text-decoration: none;
  background-color: #1673E6;
  padding: 0.80rem 1.25rem;
  margin-left: 1.25rem;
  color: white;
  border-radius: 3px;
  line-height: 1.375em;
  border-radius: 0.625rem;
  font-weight: bold;
}

.search-box-container-main-page {
  height: 60px;
  width: 964px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.15);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 11px;
}

.search-box-container-main-page i {
  margin-left: 15px;
  color: #2873e7;
}

.search-box-container-main-page input {
  display: block;
  font-family: inherit;
  outline: none;
}

.search-box-container-main-page input[type="text"] {
  line-height: 21px;
  font-size: 18px;
  padding: 10px;
  color: #333;
  text-overflow: ellipsis;
  overflow: hidden;
  border: none;
  width: 750px;
  background-color: transparent;
  margin: 0 15px;
}

.search-box-container-main-page input[type="text"]::placeholder {
  color: #6a6a6a;
}

.search-box-container-main-page input[type="submit"] {
  border: 1px solid #1673e6;
  background: #0670e9;
  color: white;
  height: 38px;
  width: 105px;
  text-align: center;
  border-radius: 6px;
  font-weight: 600;
  margin-left: 50px;
}

.search-box-container-main-page input[type="submit"]:hover {
  cursor: pointer;
}

[class$="-list-navigator-left"] button, [class$="-list-navigator-right"] button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 65px;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
  border-radius: 100px;
  transition: all 0.25s ease-in-out;
  color: #1673E6;
  transition-timing-function: linear;
}

[class$="-list-navigator-right"] button {
  right: -15px;
}

[class$="-list-navigator-left"] button {
  left: -15px;
}

[class$="-navigator-left"] button:hover, [class$="-navigator-right"] button:hover {
  background-color: #1673E6;
  outline: none;
  color: white;
}

.search-container-main-page {
  position: relative;
}

.main-page-search-results {
  background-color: white;
  color: black;
  position: absolute;
  top: 75px;
  width: 624px;
  padding: 5px 5px;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.1);
  border-radius: 5px;
}

.main-page-search-results a {
  cursor: pointer;
  display: block;
  padding: 8px 10px;
  width: 100%;
  font-size: 15px;
  line-height: 40px;
  box-sizing: border-box;
  height: 60px;
}

.main-page-search-results a:hover {
  background-color: #2770e9;
  color: white;
  border-radius: 3px;
}

.main-page-search-results h3 {
  color: gray;
  font-size: 14px;
  font-weight: 600;
  padding: 5px;
}

.event-image-loading {
  width: calc(100% - 430px);
  height: calc(100% - 60px);
  position: absolute;
  top: 60px;
  right: 0;
  background-image: image_url("loading-gif.gif");
  background-size: 75px;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

.event-image-loading img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s linear;
}