.modal-background {
 position: fixed;
 top: 0;
 bottom: 0;
 right: 0;
 left: 0;
 background: rgba(0, 0, 0, 0.7);
 z-index: 10;
}

.modal-child {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background-color: white;
 box-sizing: border-box;
 width: 410px;
 height: 480px;
 border-radius: 5px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.login-form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 14px;
}

.close-x {
  position: absolute;
  right: 20px;
  top: 18px;
  font-size: 32px;
}

.close-x:hover {
  cursor: pointer;
}

.modal-child h2 {
  margin: 0;
  font-size: 23px;
}

button:hover {
  cursor: pointer;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-box input {
  height: 37px;
  box-sizing: border-box;
  margin: 5px 0;
  line-height: 1.25em;
  padding: 0 5px;
}

.login-form-box input:focus::-webkit-input-placeholder {
  color: #1673e6;
}

.login-form-box input:focus {
  border-color: #1673e6;
}

.regular-inputs input {
  width: 312px;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-appearance: none;
  height: 48px;
}

.extra-inputs input {
  width: 156px;
  -webkit-appearance: none;
  height: 48px;
}

.l-name-input {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 0.5px solid #ccc;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.f-name-input {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 0.5px solid #ccc;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.session-submit {
  border: 1px solid #1467cf;
  border-radius: 3px;
  color: white;
  background-color: #1673e6;
  width: 312px;
  box-sizing: border-box;
}

.session-submit:hover {
  cursor: pointer;
}

.other-form {
  color: #9f9c9c;
  font-size: inherit;
  margin-top: 30px;
}

.other-form button {
  background-color: white;
  color: #1673e6;
}

.sell-form {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sell-form-title {
  text-align: center;
  margin-bottom: 24px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.sell-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  width: 300px;
  padding: 10px;
}

.ticket-event-info {
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
  padding: 5px;
}

.ticket-event-title {
  font-size: 18px;
  font-weight: 600;
  color: #1673E6;
}

.ticket-event-eventon {
  color: #515254;
  font-size: 14px;
}

.sell-ticket-info {
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.sell-price-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.sell-price-input-wrapper p {
  font-weight: 600;
  color: #515254;
}

.sell-price-input-wrapper input {
  border: none;
  outline: none;
  padding: 5px;
  margin-left: 5px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  font-size: 16px;
  font-family: inherit;
  width: 65%;
}

.sell-form input[type="submit"] {
  margin-top: 10px;
  -webkit-appearance: none;
  display: block;
  padding: 10px 0;
  background-color: #5caf0b;
  outline: none;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  color: white;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
}

.sell-form input[type="submit"]:hover {
  cursor: pointer;
}
