// Place all the styles related to the Performers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.performers-index-container {
  width: 100%;
}

.performer-category-title {
  padding: 30px 0;
  font-size: 20px;
  line-height: 21px;
  border-bottom: 1px solid #e5e5e5;
  color: black;
  font-weight: 400;
}

.category-performers-list {
  width: 970px;
  margin: 0 auto;
  border-collapse: collapse;
}

.category-performers-list td {
  padding: 15px 20px;
  text-align: left;
}

.category-performers-list tr {
  border-bottom: 1px solid #e6e6e6;
}

td.performer-list-id {
  text-align: center;
  width: 20px;
  font-weight: 700;
  font-size: 13px;
  padding-right: 0;
  border-left: none;
}

.category-performer-item {
  padding: 4px 0 4px 15px;
  border-left: 1px solid #e6e6e6;
}

.category-performer-item a {
  text-decoration: none;
  color: #1673e6;
}

.performer-event-list-item {
  padding: 0 20px;
  border-radius: 0.75rem;
}

.performer-event-list-item:hover {
  box-shadow: 0 8px 16px 0 rgba(15,15,15,0.12);
  cursor: pointer;
}

.performer-event-list-item:hover .performer-event-date,
.performer-event-list-item:hover .performer-event-info {
  color: #1673E6;
}

.performer-event-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.performer-event-item-event-on, .performer-event-info, .performer-event-button {
  width: 33%;
  display: flex;
}

.performer-event-info {
  justify-content: center;
}

.performer-event-item-event-on {
  flex-direction: column;
  justify-content: flex-start;
}

.performer-event-button {
  justify-content: flex-end;
}

.performer-event-date, .performer-event-info {
  font-weight: 500;
}

.performer-event-time {
  color: #525252;
  font-size: 14px;
}

.event-show-button {
  background: #1673E6;
  border-color: #1673E6;
  color: white;
  padding: 10px 10px;
  font-size: 0.9375rem;
  font-weight: 600;
  border-radius: 0.5rem;
}
