.ticket-sell-splash {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
  margin-bottom: 100px;
  width: 100%;
  background-image: linear-gradient(0deg,#034fad 0%,#1673e6 100%);
}

.ticket-sell-splash-info {
  color: white;
  width: 520px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ticket-sell-icons {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.ticket-sell-splash-info h1 {
  font-size: 40px;
  margin-bottom: 10px;
  // font-weight: 600;
}

.ticket-sell-splash-info h2 {
  font-size: 20px;
  margin-bottom: 22px;
  text-align: center;
}



.checkout-container {
  width: 970px;
  margin: 0 auto;
}

.empty-tickets-container {
  margin-top: 10px;
  height: 75px;
  width: 100%;
  background-color: lightgray;
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-tickets-container h2 {
  font-size: 16px;
  font-weight: bold;
  color: darkgray;
}
