// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tracker-container, .user-tickets-container, .user-settings-container {
  width: 100%;
  padding-bottom: 100px;
  margin-bottom: 20px;
}

.user-tickets-tabs, .tracker-tabs {
  display: flex;
  align-items: center;
  color: gray;
  height: 60px;
  align-items: flex-end;
}

.user-tickets-tabs h2, .tracker-tabs h2 {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 65px;
  padding: 0 15px;
  height: 60px;
  box-sizing: border-box;
}

.user-tickets-tabs h2:hover, .tracker-tabs h2:hover {
  cursor: pointer;
  color: black;
}

.user-tickets-list-onsale, .user-tickets-list-not-onsale {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.user-ticket-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.upcoming-tickets-list h1{
  font-size: 20px;
  margin: 10px 0;
}

.user-tickets-list-onsale h2, .user-tickets-list-not-onsale h2 {
  font-size: 18px;
  color: #515254;
}

.user-event-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.user-event-date, .user-event-info, .user-seat-info {
  font-weight: 500;
}

.user-event-info {
  width: 500px;
  text-align: center;
}

.user-event-date {
  width: 100px;
  text-align: left;
}

.user-event-time, .user-seat-info {
  color: #525252;
  font-size: 14px;
}

.event-show-button {
  background: #1673E6;
  border-color: #1673E6;
  color: white;
  padding: 10px 10px;
  font-size: 0.9375rem;
  font-weight: 600;
  border-radius: 0.5rem;
  width: 125px;
}

.user-ticket-info {
  padding: 15px;
  border-radius: 0.75rem;
}

.user-ticket-info:hover {
  box-shadow: 0 8px 16px 0 rgba(15,15,15,0.12);
}

.account-settings-wrapper {
  display: flex;
  align-items: flex-start;
  padding-top: 40px;
}

.profile-card {
  width: 323px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  position: relative;
}

.profile-forms {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  width: 645px;
  box-sizing: border-box;
}

.account-settings-form {
  padding: 25px;
  border: 1px solid #e5e5e5;
  margin-bottom: 30px;
  border-radius: 3px;
}

.account-settings-form h2 {
  font-size: 20px;
  line-height: 21px;
  padding: 0 0 31px 0;
  border-bottom: 1px solid #e6e6e6;
}

.user-settings-textfield-container {
  margin-bottom: 20px;
}

.user-settings-form-label {
  display: block;
  margin: 20px 0 10px 0;
  font-size: 14px;
  color: #727272;
}

.user-settings-textfield-container input {
  height: 36px;
  width: 100%;
  border: 1px solid #dfdfdf;
  box-sizing: border-box;
  padding: 0 15px;
}

.user-settings-submit-container button {
  padding: 0 14px;
  background: #1673e6;
  border: 1px solid #1673e6;
  text-align: center;
  height: 36px;
  border-radius: 3px;
  color: white;
}

.profile-map {
  border-radius: 3px;
  overflow: hidden;
  z-index: 0;
  width: 100%;
  height: 250px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-image {
  width: 175px;
  height: 175px;
}

.tracker-tab-count {
  font-size: 20px;
  line-height: 101px;
  height: 100px;
  box-sizing: border-box;
  margin-left: 10px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.tracker-items {
  margin: 0 auto;
}

.tracker-tab-item {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  border-bottom: 1px solid #e5e5e5;
}

.tracker-item-info {
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
  width: 750px;
  color: #1673e6;
  transition: all 0.25s;
  transition-timing-function: linear;
  margin-left: 10px;
}

.tracker-item-info i {
  color: lightgray;
  transition: color 0.25s ease-in-out;
}

.tracker-item-info i:hover {
  color: red;
  cursor: pointer;
}

.tracker-item-info:hover {
  color: #0f50a0;
}

.tracker-item-info span {
  margin-left: 10px;
  color: gray;
  font-size: 13px;
}

.tracker-item-photo {
  height: 60px;
  width: 80px;
  border-radius: 3px;
  background-image: url(asset_path("loading-gif.gif"));
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

.tracker-item-photo img {
  height: 60px;
  width: 80px;  
  object-fit: cover;
  transition: opacity 0.25s linear;
}

.image-edit-button {
  text-align: center;
  padding: 10px;
  width: 150px;
  background: inherit;
  font-size: 13px;
  line-height: 15px;
  outline: none;
  margin-top: 5px;
  color: rgba(51,51,51,.8);
}

.image-upload-dropdown {
  box-sizing: border-box;
  box-shadow: 0 1px 0 rgba(0,0,0,.06);
  border: 1px solid #ccc;
  border-top-color: #1673e6;
  width: 150px;
  position: absolute;
  top: 250px;
  color: #ababab;
  border-radius: 0 0 3px 3px;
}

.image-upload-dropdown-option {
  padding: 20px 0;
  text-align: center;
  font-size: 13px;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
  color: rgba(51,51,51,.8);
}

.image-upload-dropdown-option:hover {
  background-color: #f2f9fc;
  color: #333;
  cursor: pointer;
}